html, body
{
    margin: 0;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

a:hover
{
    text-decoration: none;
}

input
{
    display: block;
    margin-bottom: 10px;
}

input[type=radio]
{
    display: inline;
    margin-bottom: 5px;
}

/*input:required + label::after
{
    content: '*';
}*/

.required::after
{
    content: '*';
}

textarea:placeholder-shown
{
    /*padding-left: 50px;*/
}

textarea
{
    display:block;
    margin-bottom: 10px;
}

select
{
    margin-bottom: 10px;
}

header
{
    width: 100%;
    height: 160px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
}
    header nav
    {
        margin: 40px 50px 30px 0;
        float: right;
        height: 100px;
        font-family: 'Oswald', sans-serif;
    }
    header img
    {
        margin: 30px 0 30px 50px;
        float: left;
        width: auto;
        height: 100px;
    }
    header nav ul, ul li
    {
        display: block;
        list-style: none;
        margin: 0;
        padding: 25px 18px 0 0;
    }

    header nav ul li
    {
        display: inline;
        white-space: nowrap;
    }
    header nav ul li:hover
    {
        text-decoration: none;
    }
    header nav ul li a
    {
        display: inline-block;
        text-decoration: none;
        color: #FFF;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
    }
    header nav ul li a:hover
    {
        text-decoration: none;
        font-weight: 800;
    }
    header nav ul li a::after
    {
        display:block;
        content:attr(title);
        font-weight:bold;
        height:1px;
        color:transparent;
        overflow:hidden;
        visibility:hidden;
    }

.zajawka
{
    display: flex;
}

.zajawka img
{
    /*margin-top: 180px;*/
    width: 100%;
    height: 100%;
}

.tresc
{
    display: flex;
    align-items: stretch;
}

.contact
{
    display: flex;
    justify-content:center;
    align-items:center;
    background: #212121;
}

.formularz {
    padding: 10px;
    border-radius: 20px;
    border-color: #EFEDED;
    border-style: solid;
    margin: 10px;
    background-color: #EFEDED;
    width: 45%;
}

.about_me
{
    display: flex;
    align-items: center;
    background-color: #212121;
}

    .about_me_photo
    {
        flex: 1;
        padding: 10px;
        border-radius: 20px;
        border-color: #EFEDED;
        border-style: solid;
        margin: 10px;
        background-color: #EFEDED;
        text-align: center;
    }

        .about_me_photo img {
            max-width: 100%;
            max-height: 100%;
        }

    .about_me_description
    {
        flex: 3;
        padding: 10px;
        border-radius: 20px;
        border-color: #EFEDED;
        border-style: solid;
        margin: 10px;
        background-color: #EFEDED;
    }

.gallery
{
    display: flex;
    background-color: #212121;
}

    .gallery_tresc
    {
        flex: 1;
        padding: 10px;
        border-radius: 20px;
        border-color: #EFEDED;
        border-style: solid;
        margin: 10px;
        background-color: #EFEDED;
    }

    .gallery_photo
    {
        width: 24%;
        float: left;
        text-align: center;
    }

    .gallery_photo img
    {
        max-height: 150px;
        max-width: 200px;
        box-sizing: border-box;
        border: 0.5em solid #212121;
        background: #3f3f3f;
    }

    .gallery_photo p
    {
        font-style: italic;
        text-align: center;
    }

main
{
    flex: 2;
    background-color: #212121;
    /*margin-top: 180px;*/
}

    main article
    {
        padding: 10px;
        border-radius: 20px;
        border-color: #EFEDED;
        border-style: solid;
        margin: 10px;
        background-color: #EFEDED;
    }

aside
{
    flex: 1;
    background-color: #212121;
}
    aside article
    {
        padding: 10px;
        border-radius: 10px;
        border-color: #efeded;
        border-style: solid;
        margin: 10px;
        background-color: #EFEDED;
    }

footer
{
    text-align: center;
    color: #fff;
    width: 100%;
    height: 100px;
    background-color: #580002;
    margin: 0 auto;
    clear: both;
    bottom: 0;
}

@media screen and (max-width: 900px)
{
    header
    {
        height: 100px;
    }
    header nav
    {
        margin: 10px 50px 5px 0;
        float: right;
        height: 100px;
        font-family: 'Oswald', sans-serif;
    }
    header img
    {
        margin: 0 0 5px 50px;
        float: left;
        width: auto;
        height: 100px;
    }
}